[submodule "hardware/Heartrate-HW"]
	path = hardware/Heartrate-HW
	url = https://github.com/ZSWatch/Heartrate-HW.git
[submodule "hardware/Dock-HW"]
	path = hardware/Dock-HW
	url = https://github.com/ZSWatch/Dock-HW.git
[submodule "hardware/Watch-HW"]
	path = hardware/Watch-HW
	url = https://github.com/ZSWatch/Watch-HW.git
